header {
  margin-top: 30px;
  color: #2e99a9;
}

hr {
  border-width: 3px;
  border-color: #2e99a9;
  margin: 30px 0;
}

h1 {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .check-inline {
    display: block;
  }
}